@{
    ViewBag.Title = "BizzWizz Team";
}

<div style="text-align:center">


    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <br /><br /><br /><br /><br /><br /><br />
    <h3>
        Bizz wizz team is a special team founded by our glorious leader kim jung bee. We believe, that whatever we do effect the world as we know it. World peace is not far fetch as you believe.
        BeeOut…
    </h3>
    <img src="https://d13yacurqjgara.cloudfront.net/users/75575/screenshots/1739780/bee_logo.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
</div>