@{
    ViewBag.Title = "Contact";
}
<br /><br /><br />
<div style="text-align:center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        One BeezWizz Way<br />
        Eilat, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@BeezWizz.com">Support@BeezWizz.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@BeezWizz.com">Marketing@BeezWizz.com</a>
    </address>
    <br /><br /><br />
</div>