<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<br />
<br />
<br />
<br />

<div id="dp">

    @Html.DayPilotCalendar("dp", new DayPilot.Web.Mvc.DayPilotCalendarConfig
{
    BackendUrl = Url.Action("Backend", "OpenShifts"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    TimeFormat = DayPilot.Web.Mvc.Enums.TimeFormat.Clock24Hours,
    
    
     
    //EventSelectHandling
    //EventSelectColor
    //EventClickHandling = DayPilot.Web.Mvc.Events.Calendar.EventClickHandlingType.JavaScript,
    //EventClickJavaScript = "editEvent(e.value());"
})
</div>

<script type="text/javascript">
    dp.commandCallBack('nextWeek');
    dp.contextMenu = new DayPilot.Menu({
        items: [
      { text: "Edit", onclick: function () { dp.events.edit(this.source); } },
      { text: "Delete", onclick: function () { dp.events.remove(this.source); } },
      { text: "-" },
      { text: "Change background color", onclick: function () { var e = this.source; e.data.backColor = "red"; dp.events.update(e); } },
      { text: "-" },
      { text: "Select", onclick: function () { dp.multiselect.add(this.source); } },
        ]
    });
    function select(e) {
        var m = new DayPilot.Modal();
        m.closed = function () {
            if (this.result == "OK") {
                dp.commandCallBack('refresh');
            }
            dp.clearSelection();
        };
        m.showUrl('@Url.Action("Edit", "OpenShifts")');
    }

</script>
